<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imomei.mapper.IntroductionMapper">

    <!--查询所有-->
    <select id="getIntroductionList" resultType="com.imomei.entity.IntroductionEntity">
        SELECT
            id,
            title,
            price,
            gaishu,
            xiangxi,
            cid
        FROM
            introduction
    </select>

    <!--根据ID查询-->
    <select id="getIntroductionById" parameterType="String" resultType="com.imomei.entity.IntroductionEntity">
        SELECT
            id,
            title,
            price,
            gaishu,
            xiangxi,
            cid
        FROM
            introduction
        WHERE
            id = #{id}
    </select>

    <!--增-->
    <insert id="insIntroduction" parameterType="com.imomei.entity.IntroductionEntity">
        INSERT INTO introduction
        VALUES
        (#{id},
         #{title},
         #{price},
         #{gaishu},
         #{xiangxi},
         #{ cid})
    </insert>

    <!--改-->
    <update id="updIntroduction" parameterType="com.imomei.entity.IntroductionEntity">
        UPDATE introduction
        SET price = '22.7'
        WHERE
            id = #{id}
    </update>

    <!--删-->
    <delete id="delIntroduction" parameterType="String">
        DELETE
        FROM
            introduction
        WHERE
            id = #{id}
    </delete>

</mapper>